.amen {
   margin-top: 20px;
}

.amen h3{
    margin-bottom: 10px;    
}

.others {
    border-top: 2px solid #dddddd;
    padding-top: 10px;
}

.pet {
    list-style: none;
    background-image: url(../images/icon_pets.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
}

.others a {
    margin-left: 30px;
    text-decoration: none
}

.wifi {
    list-style: none;
    background-image: url(../images/icon_wifi.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
}

.tv {
    list-style: none;
    background-image: url(../images/icon_tv.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
}

.reviews {
    margin-top: 20px;
}

.reviews h3 {
    margin-bottom: 10px;
}

.review_1 h4 {
    margin-top: 10px;
}
.review_1 {
    border-top: 1px solid #dddddd;
}

.review_2 h4 {
    margin-top: 10px;
}