.amenities2 {
    margin-top: 40px;
    text-align: left;
}

.amenities2 h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
}

.amenities2 ul {
    list-style: none;
    text-align: left;
}

.pets {
    background-image: url(../images/icon_pets.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
}

.net {
    background-image: url(../images/icon_wifi.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
}

.tv {
    background-image: url(../images/icon_tv.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
}

.amenities2 a {
    margin-left: 20px;
}

.amenities2 ul {
    margin-top: 20px;
}