footer {
   background-color: #fff;
   height: 60px;
   width: 100%;
   border-top: 1px solid #CCCCCC;
   position: absolute;
   bottom: 0;
   display: grid;
   align-items: center;
   text-align: center;
}